/* ==========================================================================
   CHROME FRAME PROMPT
========================================================================== */

.chromeframe {
	margin:24px;
	padding:12px;

    background: $error-background;
    color: $error-color;

    border:1px solid $error-color;

}


.logo {;
	margin:0 auto;
	margin-bottom:24px;
	display:block;
	text-align:center;
}