//*---------------------------------------------------
//   SETTING STYLES v1.1
// ---------------------------------------------------
//  A set of unique SASS font/typography and colour styles by Terry Upton (Amasci Creative Limited)
//	These will be unique for every project.
//-----------------------------------------------------*/

//* ==========================================================================
//   PROJECT SPECIFIC FONTS and BASELINES
//========================================================================== */

// Font Family's
$font-header:				'Georgia', sans-serif;
$font-body:					'Open Sans', sans-serif;


// Fonts Sizes
$base-font-size:			16;
$base-line-height:			24;

//Renamed these for Sassification Variables for Mixins
$doc-font-size:				$base-font-size;
$doc-line-height:			$base-line-height;

$base-spacing-unit:			$base-line-height!default;
$half-spacing-unit:			$base-spacing-unit / 2!default;

//NEW Shorter Variables but calling the originals to protect legacy. Possibly remove the old names and replace with one variable name.
$bsu:						$base-spacing-unit;
$hsu:						$half-spacing-unit;

$h1-font-size:				36;
$h2-font-size:				28;
$h3-font-size:				21;
$h4-font-size:				18;
$h5-font-size:				$base-font-size;
$h6-font-size:				14;

$p-font-size:				15;
$footer-font-size:			13;


//* ==========================================================================
//   BASE COLOURS
//========================================================================== */

//Get Colour Names - http://chir.ag/projects/name-that-color/#FF5B00

$black:						#000;
$white:						#FFF;
$grey:						#d9d9d9;


$color-base:				;
$color-sub:					;
$color-tri:					;

$color-link:				$color-base;
$color-hover:				;

$color-text:				#666;
$color-text-header:			$color-base;

$color-error:				#b94a48;
$bg-error:					#f2dede;

$color-success:				#468847;
$bg-success:				#dff0d8;


$social-media:(
	twitter: 					#00aced,
	facebook: 					#3b5998,
	googleplus: 				#dd4b39,
	linkedin: 					#007bb6,
	dribbble: 					#ea4c89,
	// youtube: 				#bb0000,
);


//* ==========================================================================
//   OTHER GLOBAL VARIABLES
//========================================================================== */

$g-trans:				all .40s ease;
$g-radius:				15px;

//* ==========================================================================
//   BREAK POINTS
//========================================================================== */

// media query 'major breakpoint' variables

$x-small:					320;
$smaller:					480;
$small:						600;
$medium:					760;
$regular:					800;
$large:						1100;
$x-large:					1300;

$nav-bp:					760;

// Sassification Breakpoints

// $tiny:					320;
// $smaller:				480;
// $small:					600;
// $medium:					760;
// $regular:				900;
// $large:					1100;
// $extra-large:			1300;


//* ==========================================================================
//  ANIMATIONS
//  original settings file inside /vendors/animate/helpers/_settings
//  https://github.com/geoffgraham/animate.scss
//========================================================================== */

// @include fadeIn($count, $duration, $delay, $function, $fill, $visibility)

// Fade Enter
$use-fadeIn 			:	false !default;
$use-fadeInUp 			:	false !default;
$use-fadeInUpBig 		:	false !default;
$use-fadeInDown 		:	false !default;
$use-fadeInDownBig 		:	false !default;
$use-fadeInLeft 		:	false !default;
$use-fadeInLeftBig 		:	false !default;
$use-fadeInRight 		:	false !default;
$use-fadeInRightBig 	:	false !default;


// Fade Exit
$use-fadeOut			:   false !default;
$use-fadeOutUp			:	false !default;
$use-fadeOutUpBig   	:	false !default;
$use-fadeOutDown		:	false !default;
$use-fadeOutDownBig 	:	false !default;
$use-fadeOutLeft		:	false !default;
$use-fadeOutLeftBig 	:	false !default;
$use-fadeOutRight		:	false !default;
$use-fadeOutRightBig	:	false !default;


// Bounce Enter
$use-bounceIn			:	false !default;
$use-bounceInUp			: 	false !default;
$use-bounceInDown 		: 	false !default;
$use-bounceInLeft 		: 	false !default;
$use-bounceInRight 		: 	false !default;


// Bounce Exit
$use-bounceOut			:	false !default;
$use-bounceOutUp		: 	false !default;
$use-bounceOutDown 		: 	false !default;
$use-bounceOutLeft 		: 	false !default;
$use-bounceOutRight 	: 	false !default;


// Rotate Enter
$use-rotateIn 			:	false !default;
$use-rotateInUpLeft 	: 	false !default;
$use-rotateInUpRight 	: 	false !default;
$use-rotateInDownLeft 	: 	false !default;
$use-rotateInDownRight 	: 	false !default;


// Rotate Exit
$use-rotateOut 			:	false !default;
$use-rotateOutUpLeft 	: 	false !default;
$use-rotateOutUpRight 	: 	false !default;
$use-rotateOutDownLeft 	: 	false !default;
$use-rotateOutDownRight : 	false !default;


// Slide Enter
$use-slideInUp			:   false !default;
$use-slideInDown		:   false !default;
$use-slideInLeft		:   false !default;
$use-slideInRight		:   false !default;

// Slide Exit
$use-slideOutUp			:   false !default;
$use-slideOutDown		:   false !default;
$use-slideOutLeft		:   false !default;
$use-slideOutRight		:   false !default;

// Flippers
$use-flip				:	false !default;
$use-flipInX			:	false !default;
$use-flipInY			:	false !default;
$use-flipOutX			:	false !default;
$use-flipOutY			:	false !default;


// Lightspeed
$use-lightSpeedIn 		:	false !default;
$use-lightSpeedOut 		:	false !default;


// Attention Seekers
$use-bounce				:	false !default;
$use-flash				:	false !default;
$use-pulse				:	false !default;
$use-swing				:	false !default;
$use-shake				:	false !default;
$use-tada				:	false !default;
$use-wobble				:	false !default;


// Special
$use-hinge				:	false !default;
$use-rollIn				: 	false !default;
$use-rollOut 			:	false !default;


// Zoom In
$use-zoomIn 			:	false !default;
$use-zoomInDown 		:	false !default;
$use-zoomInLeft 		:	false !default;
$use-zoomInRight 		:	false !default;
$use-zoomInUp 			:	false !default;


// Zoom Out
$use-zoomOut			:	false !default;
$use-zoomOutDown		:	false !default;
$use-zoomOutLeft		:	false !default;
$use-zoomOutRight		:	false !default;
$use-zoomOutUp			:	false !default;



//* ==========================================================================
//   Debug Mode (on or off)
//========================================================================== */

$debugMode:					false;