#Sass Cache
.sass-cache/

# Sublime
*.sublime-project
*.sublime-workspace

# Windows
Thumbs.db

# Vim
.*.sw[a-z]
*.un~i
tags

# OsX
.DS_Store
Icon?
._*
.Spotlight-V100
.Trashes

#nodejs npm modules
/node_modules

#node-cluster
/pids
*.sock

# ignore sublime text 2 stuff
/*.sublime-project
*.sublime-workspace

#Mixture
mixture.json

#TODO
TODO.json
TODO.md

# gem
*.gem

#Sitemaps
ror.xml
sitemap.xml
urllist.txt
