//*---------------------------------------------------
//   SETTING STYLES v1.1
// ---------------------------------------------------
//  A set of unique SASS font/typography and colour styles by Terry Upton (Amasci Creative Limited)
//	These will be unique for every project.
//-----------------------------------------------------*/

//* ==========================================================================
//   PROJECT SPECIFIC FONTS and BASELINES
//========================================================================== */

// Font Family's
$font-header:				'Georgia', sans-serif;
$font-body:					'Open Sans', sans-serif;


// Fonts Sizes
$base-font-size:			16;
$base-line-height:			24;

//Renamed these for Sassification Variables for Mixins
$doc-font-size:				$base-font-size;
$doc-line-height:			$base-line-height;

$base-spacing-unit:			$base-line-height!default;
$half-spacing-unit:			$base-spacing-unit / 2!default;

//NEW Shorter Variables but calling the originals to protect legacy. Possibly remove the old names and replace with one variable name.
$bsu:						$base-spacing-unit;
$hsu:						$half-spacing-unit;

$h1-font-size:				36;
$h2-font-size:				28;
$h3-font-size:				21;
$h4-font-size:				18;
$h5-font-size:				$base-font-size;
$h6-font-size:				14;

$p-font-size:				15;
$footer-font-size:			13;


//* ==========================================================================
//   BASE COLOURS
//========================================================================== */

// TODO: Get Colour Names - http://chir.ag/projects/name-that-color/#FF5B00

$black:						#000;
$white:						#FFF;
$grey:						#d9d9d9;


$color-base:				;
$color-sub:					;
$color-tri:					;

$color-link:				$color-base;
$color-hover:				;

$color-text:				#666;
$color-text-header:			$color-base;

$color-error:				#b94a48;
$bg-error:					#f2dede;

$color-success:				#468847;
$bg-success:				#dff0d8;


$social-media:(
	twitter: 					#00aced,
	facebook: 					#3b5998,
	googleplus: 				#dd4b39,
	linkedin: 					#007bb6,
	dribbble: 					#ea4c89,
	// youtube: 				#bb0000,
);


//* ==========================================================================
//   OTHER GLOBAL VARIABLES
//========================================================================== */

$g-trans:				all .40s ease;
$g-radius:				15px;

//* ==========================================================================
//   BREAK POINTS
//========================================================================== */

// media query 'major breakpoint' variables

$x-small:					320;
$smaller:					480;
$small:						600;
$medium:					760;
$regular:					800;
$large:						1100;
$x-large:					1300;

// Sassification Breakpoints

// $tiny:					320;
// $smaller:				480;
// $small:					600;
// $medium:					760;
// $regular:				900;
// $large:					1100;
// $extra-large:			1300;



//* ==========================================================================
//   Debug Mode (on or off)
//========================================================================== */

$debugMode:					false;