/* ==========================================================================
	MODULES
========================================================================== */

%island,
.&islet{
	@extend %cf;
	display:block;

	> &:last-child {
		margin-bottom:0;
	}
}

%island{
	@include remit(padding, $bsu);
}


%islet{
	@include remit(padding, $hsu);
}


%module {
	@extend %cf;
	@extend %island;
	// @extend %no-gutter;
	position:relative;
}