/*---------------------------------------------------
    COLOUR STYLES v1.1
  ---------------------------------------------------
    A set of common SASS colour styles by Terry Upton (Amasci Creative Limited)
	These should be unique for every project.
-----------------------------------------------------*/

/* ==========================================================================
   COLOUR STYLES
========================================================================== */

.base-color 		{color:$color-base;}
.sub-color 			{color:$color-sub;}
.required 			{color:$color-base; font-weight:bold;}

.error-color 		{color:$color-error;}
// .success-color		{color:$success-color;}

%twitter 			{color:#00aced;}
%facebook 			{color:#3b5998;}
%googleplus 		{color:#dd4b39;}
%linkedin 			{color:#007bb6;}
%youtube 			{color:#bb0000;}