h1 {
margin-bottom : .5em;
font-size : 3em;
line-height : 1; }

h2 {
margin-bottom : .75em;
font-size : 2em; }

h3 {
margin-bottom : 1em;
font-size : 1.5em;
line-height : 1 ; }

h4 {
margin-bottom : 1.25em;
font-size : 1.2em;
line-height : 1.25; }

h5, h6 {
margin-bottom : 1.5em;
font-weight : bold;
font-size : 1em; }

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
margin : 0; }

/* 2013 Updates */

h1, h2 {
	color: $main-heading-color;
	font-family: $heading-font;
}

h3, h4, h5, h6 {
	color: $sub-heading-color;
	font-family: $heading-font;
}
h1 a, h2 a {
	text-decoration: none;
	color: $main-heading-color;
}

h3 a, h4 a, h5 a, h6 a {
	text-decoration: none;
	color: $sub-heading-color;
}