/* ==========================================================================
   CHROME FRAME PROMPT
========================================================================== */

.chromeframe {
	margin:24px;
	padding:12px;

	background: $bg-error;
	color: $color-error;

	border:1px solid $color-error;

}


.logo {;
	margin:0 auto;
	margin-bottom:24px;
	display:block;
	text-align:center;
}