/* ==========================================================================
	NAVIGATION STYLES
========================================================================== */

.nav {
	li {
		list-style:none;
		text-align:center;

		@include mq($nav-bp) {
			display:inline-block;
		}
	}

	a {
		display:block;
	}
}


/* ==========================================================================
	 MAIN NAV
========================================================================== */

.nav--main {

	ul {}

	li {}

	a {

		&:hover,&:focus,&:active {
			color:$color-hover;
			text-decoration:none;
		}
	}

	.current {

	}
}