/* ==========================================================================
	ICON STYLES
========================================================================== */

.icon {
	display: inline-block;
	fill: currentColor;
	position:relative;
}
